
<div class="form-login">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <% if alert && !notice %>
      <p id="alert"><%= alert %></p>
    <% end %>
  <div class="form-container">
    <h1>Einloggen</h1>

    <%= form_tag login_path do |f| %>
        <%= text_field_tag     :email, session[:email], placeholder: 'E-Mail' %> <br>
        <%= password_field_tag :password, nil, placeholder: 'Passwort' %> <br>

        <%= submit_tag 'Einloggen' %>
    <% end %>

    <%=  %>
  </div>
</div>
