
<div class="form-login">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <% if @alert%>
      <p id="alert"><%= @alert %></p>
    <% end %>

  <div class="form-container">
    <h1>Einloggen</h1>

    <%= form_tag login_path do |f| %>
        <%= text_field_tag     :email, @email, placeholder: 'E-Mail' %> <br>
        <%= password_field_tag :password, nil, placeholder: 'Passwort' %> <br>
        <%= submit_tag 'Einloggen' %>


  </div>
  <div class="infobox">
    <p>helpUhelp ist eine Plattform für freiwillige Helfer, welche es ermöglicht sich anzusehen welche Aufgaben zu erledigen sind und wer gerade Hilfe benötigt. Willst du auch Teil dieser Plattform werden, dann wende dich an <a href="mailto:admin@admin.at">admin@admin.at</a>.</p>
    <div class="pixel-animation"></div>
  </div>
  <% end %>

</div>
