<p id="notice"><%= notice %></p>

<h1>Status Task Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Task</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @status_task_users.each do |status_task_user| %>
      <tr>
        <td><%= status_task_user.user.first_name %> <%= status_task_user.user.last_name %></td>
        <td><%= status_task_user.task.title %></td>
        <td><%= status_task_user.status.title %></td>
        <td><%= link_to 'Show', status_task_user %></td>
        <td><%= link_to 'Edit', edit_status_task_user_path(status_task_user) %></td>
        <td><%= link_to 'Destroy', status_task_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status Task User', new_status_task_user_path %>
