<section class="tasks-page">
  <div class="tasks-container">
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <% if current_user && current_user.role.title == "admin" %>
    <div class="new-task">
      <%= link_to '+ Neue Aufgabe Erstellen', new_task_path, class: "new-task-button" %>
    </div>
    <% end %>

    <% if current_user && current_user.role.title == "volunteer" %>
      <h1>Meine bestätigten Aufgaben</h1>
      <% if @assigned_usertasks.count > 0 %>
      <div class="tasks">
      <% @assigned_usertasks.each do |task| %>
        <div class="task-card">
          <%= link_to task do%>
            <div class="task-description"><%= task.title%></div>
            <div class="task-info">
              <strong>Datum: </strong><%= task.date.strftime("%d.%m.%y") %> <br />
              <strong>Beginn: </strong>  <%= task.time.strftime("%H:%M")%> <br />
              <strong>Ort: </strong><%= task.place %>
            </div>
            <div>
              <%= link_to 'absagen', remove_user_task_path(task), method: :post , class: "card-button"%>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
      <% else %>
        Du hast keine zugewiesenen Aufgaben.
      <% end %>


      <%# Users can view their pending tasks here%>
      <h1 class="border">Meine beworbenen Aufgaben</h1>
      <% if @pending_usertasks.size > 0 %>
      Es muss noch auf die Bestätigung des Managers gewartet werden.
      <div class="tasks">
      <% @pending_usertasks.each do |task| %>
        <div class="task-card">
          <%= link_to task do%>
            <div class="task-description"><%= task.title%></div>
            <div class="task-info">
              <strong>Datum: </strong><%= task.date.strftime("%d.%m.%y") %> <br />
              <strong>Beginn: </strong>  <%= task.time.strftime("%H:%M")%> <br />
              <strong>Ort: </strong><%= task.place %>
            </div>
            <div >
              <%= link_to 'absagen', remove_user_task_path(task), method: :post, class: "card-button" %>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
      <% else %>
        Du hast keine beworbenen Aufgaben. Bewirb dich doch für eine Aufgabe.
      <% end %>


      <%# Users can view unassigned tasks here and can apply for them %>
      <h1 class="border">Offene Aufgaben</h1>
      Du kannst dich für einen der folgenden Aufgaben bewerben.
      <div class="tasks">
        <% @open_usertasks.each do |task| %>
          <div class="task-card">
            <div class="task-description"><%= task.title%></div>
            <%= link_to task do%>
              <div class="task-info">
                <strong>Datum: </strong><%= task.date.strftime("%d.%m.%y") %> <br />
                <strong>Beginn: </strong>  <%= task.time.strftime("%H:%M")%> <br />
                <strong>Ort: </strong><%= task.place %>
              </div>
              <div>
                <%= link_to 'bewerben', add_user_task_path(task), method: :post , class: "card-button"%>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>


    <%# Only admin can view all the Tasks and Tasks should be colored for him %>
    <% if current_user && current_user.role.title == "admin" %>

    <h1>Aufgaben mit Bewerbern</h1>
    Klicke auf den Task um einen Bewerber den Task zuzuweisen.
    <div class="tasks">
      <% @tasks_with_applications.each do |task| %>
        <div class="task-card">
          <div class="info">
            <div>
              <div class ="admin-options task-option">
                <%= link_to image_tag('edit-pen.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), edit_task_path(task) %>
                <%= link_to link_to image_tag('delete.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), task, method: :delete, data: { confirm: 'Sind Sie sicher, dass Sie die Aufgabe löschen möchten?' } %>
              </div>
              <div class="task-description"><%= task.title%></div>
            </div>
            <%= link_to task do%>
              <div class="task-info">
                <strong>Datum: </strong><%= task.date.strftime("%d.%m.%y") %> <br />
                <strong>Beginn: </strong>  <%= task.time.strftime("%H:%M")%> <br />
                <strong>Ort: </strong><%= task.place %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%# Unassigned tasks in the middle %>
    <h1 class="border">Aufgaben ohne Bewerber</h1>
    <div class="tasks">
      <% @tasks_without_applications_and_not_pending.each do |task| %>
        <div class="task-card">
          <div>
            <div class ="admin-options task-option">
              <%= link_to image_tag('edit-pen.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), edit_task_path(task) %>
              <%= link_to link_to image_tag('delete.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), task, method: :delete, data: { confirm: 'Sind Sie sicher, dass Sie die Aufgabe löschen möchten?' } %>
            </div>
            <div class="task-description"><%= task.title%></div>
          </div>
          <%= link_to task do%>
            <div class="task-info">
              <strong>Datum: </strong><%= task.date.strftime("%d.%m.%y") %> <br />
              <strong>Beginn: </strong>  <%= task.time.strftime("%H:%M")%> <br />
              <strong>Ort: </strong><%= task.place %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <h1 class="border">Zugewiesene Aufgaben</h1>
    <div class="tasks">
      <% @assigned_tasks.each do |task| %>
        <div class="task-card">
          <div>
            <div class ="admin-options task-option">
              <%= link_to image_tag('edit-pen.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), edit_task_path(task) %>
              <%= link_to link_to image_tag('delete.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), task, method: :delete, data: { confirm: 'Sind Sie sicher, dass Sie die Aufgabe löschen möchten?' } %>
            </div>
            <div class="task-description"><%= task.title%></div>
          </div>
          <%= link_to task do%>
          <div class="task-info">
            <strong>Datum: </strong><%= task.date.strftime("%d.%m.%y") %> <br />
            <strong>Beginn: </strong>  <%= task.time.strftime("%H:%M")%> <br />
            <strong>Ort: </strong><%= task.place %> <br />
            <strong>Wird erledigt von:</strong>
            <% User.find(@status_task_users.where(task_id: task.id, status_id: 3).pluck(:user_id)).each do |assigned_user|%>
              <%= assigned_user.first_name %> <%= assigned_user.last_name %>
            <% end %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <% end %>
  </div>
</section>
