<p id="notice"><%= notice %></p>

<div class="form-edit user-page">
	<div class="form-container">
		<% if current_user && current_user.role.title == "admin" %>
		<div class ="admin-options task-option">
			<%= link_to image_tag('edit-pen.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), edit_task_path(@task) %>
			<%= link_to link_to image_tag('delete.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), @task, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
		<%end%>
    <h1> <%= @task.title %> </h1>

      <p>
        <strong>Datum:</strong>
        <%= @task.date.strftime("%d.%m.%y") %>
      </p>
			<p>
				<strong>Beginnzeit:</strong>
				<%= @task.time.strftime("%H:%M") %>
			</p>

      <p>
        <strong>Ort:</strong>
        <%= @task.place %>
      </p>

      <p>
				wenn admin ->
        <strong>Zugewiesen:</strong>
        <% if (@task.assigned) %>
						ja
				<% else %>
					nein
				<% end %>
      </p>

			<p class="task-show-description">
				<strong>Description:</strong>
				<%= @task.description %>
			</p>
    </div>
		<h1> Bewerber </h1>
  <div class="tasks">
    <% @task.users.each do |user| %>
      <div class="task-card" >
        <p><%= user.first_name %> <%= user.last_name %></p>
        <p><%= user.telephone %></p>
      </div>
    <% end %>
  </div>

	<%= link_to 'Zurück', tasks_path %>

</div>



<%= link_to  image_tag('edit-pen.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), edit_task_path(@task) %>
