<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @task.time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @task.place %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @task.assigned %>
</p>

<p>
  <strong>No of people:</strong>
  <%= @task.no_of_people %>
</p>

<%= link_to 'bewerben', addUser_path(@task) %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
