<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user && current_user.role.title == "admin" %>

  <div class="field">
    <%= form.label :role_id, "Rolle" %>
    <%= form.select :role_id, options_for_select(@roles.collect{ |r| [r.title, r.id]}) %>
  </div>

  <% end %>
  <div class="field">
    <%= form.label :first_name, "Vorname" %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, "Nachname" %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :telephone, "Telefon" %>
    <%= form.text_field :telephone, id: :user_telephone %>
  </div>

  <div class="field">
    <%= form.label :password_digest, "Passwort" %>
    <%= form.password_field :password, id: :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
