<%= form_with(model: user, local: true) do |form| %>

  <% if current_user && current_user.role.title == "admin" %>

  <div class="field">
    <%= form.label :role_id, "Rolle" %>
    <div class ="select-box-style">

    <%= form.select :role_id, options_for_select(@roles.collect{ |r| [r.title.capitalize, r.id]}) %>
  </div>

  </div>

  <% end %>
  <div class="field">
    <%= form.label :first_name, "Vorname" %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name, "Nachname" %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :telephone, "Telefon" %>
    <%= form.text_field :telephone, id: :user_telephone %>
  </div>

  <% if current_user.id == user.id %>
    <div class="field">
      <%= form.label :password, "Passwort" %>
      <%= form.password_field :password, id: :password %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, "Passwort bestätigen" %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
