<section class="tasks-page">



  <div class="tasks-container">
    <div class="new-task">
      <%= link_to '+ Neuen Nutzer Anlegen', new_user_path, class: "new-task-button" %>
    </div>
    <% if notice %>
      <p id="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert"><%= alert %></p>
    <% end %>
    <div class="content-container">
      <h1>Nutzer</h1>

      <table class="users-table">
        <thead>
          <tr class="first-row">
            <th>Rolle</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Telefon</th>
            <th colspan="2">Aktion</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.role.title %></td>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.telephone %></td>
              <td>  <%= link_to  image_tag('edit-pen-dark.png', size: "50x51", alt: "User", class: 'd-inline-block'), edit_user_path(user) %>
</td>
              <td><%= link_to image_tag('delete-dark.png', size: "50x51", alt: "User", class: 'd-inline-block'), user, method: :delete, data: { confirm: 'Sind Sie sicher, dass Sie den Benutzer löschen möchten?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

    </div>
  </div>
</section>
