<section class="tasks-page">
  <div class="tasks-container">
    <p id="notice"><%= notice %></p>
    <div class="content-container">
      <h1>Nutzer</h1>

      <table class="users-table">
        <thead>
          <tr class="first-row">
            <th>Rolle</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Telefon</th>
            <th colspan="2">Aktion</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.role.title %></td>
              <td><%= user.first_name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.telephone %></td>
              <td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
              <td><%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Sind Sie sicher, dass Sie den Benutzer löschen möchten?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Neuen Nutzer anlegen', new_user_path %>
    </div>
  </div>
</section>
