<% require "randomstring"
%>
<% if true #current_user.role.title == "admin" %>
<div class="form-edit">

    <% if @user.errors.any? %>
      <div id="error_explanation_own">
        <h2 id="error-title">Bitte beachten Sie folgende Anforderungen!</h2>

        <ul id="error-message">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


  <div class="form-container">
  <h1>Neuen User anlegen</h1>

  <%= form_with(model: @user, local: true) do |form|%>

    <div class="field">
      <%= form.label :role_id, "Rolle" %>
      <%= form.select :role_id, options_for_select(@roles.collect{ |r| [r.title.capitalize, r.id]}) %>
    </div>

    <div class="field">
      <%= form.label :first_name, "Vorname" %>
      <%= form.text_field :first_name, id: :user_first_name %>
    </div>

    <div class="field">
      <%= form.label :last_name, "Nachname" %>
      <%= form.text_field :last_name, id: :user_last_name %>
    </div>

    <div class="field">
      <%= form.label :email, "Email" %>
      <%= form.text_field :email, id: :user_email %>
    </div>

    <div class="field">
      <%= form.label :telephone, "Telefon" %>
      <%= form.text_field :telephone, id: :user_telephone %>
    </div>

    <div class="actions">
      <%= form.submit "Benutzer anlegen", data: { confirm: "Bitte überprüfen Sie die Benutzerdaten. \nUm den User anzulegen, klicken Sie auf 'OK' " } %>
    </div>
  <% end %>

  <%= link_to 'Back', users_path %>
<% else %>
  <p class="notification">
    Diese Seite ist nur dem Admin zugänglich.
  </p>
<%end %>
</div>
</div>

