<p id="notice"><%= notice %></p>

<% if current_user.id == @user.id || current_user.role.title == "admin" %>
<div class="form-edit user-page">
	<div class="form-container">
      <h1> <%= @user.first_name + " " + @user.last_name%>
        <%= link_to  image_tag('edit-pen.png', size: "50x51", alt: "Aufgaben", class: 'd-inline-block'), edit_user_path(@user) %>
      </h1>
			<p>
      <strong>Rolle: </strong>
      <%= @user.role.title.capitalize %>
			</p>
			<p>
	      <strong>Email: </strong>
      <%= @user.email %> <br />
		</p>
		<p>
      <strong>Telephone: </strong>
      <%= @user.telephone %>
		</p>
  </div>
</div>

<% else %>
<p class="notification">
	Du kannst keine Profile von anderen Nutzern ansehen.
</p>
<%end %>
