<p id="notice"><%= notice %></p>

<section class="user-page">
  <div class="user-container">
      <h1> <%= @user.first_name + " " + @user.last_name%> </h1>
      Rolle:
      <%= @user.role.title %> <br />
      Email:
      <%= @user.email %> <br />

      Telephone:
      <%= @user.telephone %>
    <%= link_to 'Bearbeiten', edit_user_path(@user) %>
  </div>
</section>
<%= link_to 'Zurück', users_path %>
